k {
  display: inline-block;
  vertical-align: top;
  width: 5cm;
  margin: 1cm;
}
#welcome {
  position: absolute;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

body {
  background-color: bisque;
}

#select-film {
  background-color: pink;
  width: 5cm;
  height: 6cm;
}
