#k {
  display: inline-block;
  vertical-align: top;
  width: 10.5cm;
  align-content: center;
  overflow: auto;
}

#title {
  text-align: center;
  font-size: x-large;
}

#search {
  text-align: center;
}

#search-box {
  width: 7cm;
  height: 1cm;
  background-color: pink;
  font-size: medium;
  border-radius: 4px;
}

body {
  background-color: bisque;
  font-family: Verdana;
}

#films {
  position: relative;
  overflow: auto;
  width: 95%;
  margin-left: 2.5%;
}

.select-film {
  overflow: auto;
  background-color: pink;
  padding: 1cm;
  width: 8cm;
  height: 20cm;
  border-style: solid;
  border-width: 10px 4px 4px 4px;
  border-color: rgb(6, 255, 213) black black black;
  border-radius: 20px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#centre {
  text-align: center;
}

#actor-list {
  position: relative;
  left: 1cm;
}

#text-box {
  background: transparent;
  width: 100%;
  height: 1cm;
  border-radius: 6px;
}

#button {
  border-radius: 4px;
  width: 20%;
  margin-left: 20%;
}

::-webkit-scrollbar {
  color: transparent;
}
